html, body {
    font-family: sans-serif
}
body {
    margin: 2em auto;
    text-align: center;
    width: 9.5em;
    height: 19.5em;
}
h1{
    font: inherit;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #2f4f4f;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
span{
    font: inherit;
    display: inline-block;
    height: 4em;
    width: 9em;
    background: #CDB38B;
    color: #2f4f4f;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0.2em auto;
    text-decoration: none;
    border: 0;
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 1px #8B795E;
}
button{
    font: inherit;
}
.botao{
    display: inline-block;
    margin: 0.2em auto;
    width: 2em;
    height: 2em;
    text-decoration: none;
    background: #CDB38B;
    color: #2f4f4f;
    font-weight: bold;
    border: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 1px #8B795E;
}
.botao-excluir{
    display: inline-block;
    margin: 0.2em auto;
    width: 4.25em;
    height: 2em;
    text-decoration: none;
    background: #CDB38B;
    color: #2f4f4f;
    font-weight: bold;
    border: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 1px #8B795E;
}
.botao:active{
    box-shadow: 0 0 0 0 #8B795E, inset 2px 2px 2px #8B795E;
    transform: translate(3px, 3px);
}
.botao-excluir:active{
    box-shadow: 0 0 0 0 #8B795E, inset 2px 2px 2px #8B795E;
    transform: translate(3px, 3px);
}